body {
  background-color: #232323;
  color: #000000;
  margin: 0;
  font-family: 'Arial', sans-serif;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 7% 25% 7% 40%;
  grid-template-areas: "Nombre" "Datos" "Fecha" "DatosQR";
  margin: 0;
  padding: 0;
}

.Nombre {
  grid-area: Nombre;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 5%;
}

.Nombre h1 {
  font-size: 120%;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.Datos {
  grid-area: Datos;
  display: grid;
  grid-template-columns: 40% 60%;
  margin-left: 5%;
}

.Datos img {
  width: 100%;
  height: 90%;
  border-radius: 15px;
}

.Datos section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 5%;
}

.Datos section h3 {
  font-size: 100%;
  color: #fff;
  margin: 2% 0;
  padding: 0;
  font-weight: 600;
}

.Fecha {
  grid-area: Fecha;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.Fecha h6 {
  font-size: 110%;
  color: #fff;
  margin: 5% 0;
  padding: 0;
  font-weight: 600;
}

.DatosQR {
  grid-area: DatosQR;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.qrcode {
  width: 00%;
}

@media screen and (orientation: landscape) {

  body{
    height: max-content;
  }

  .container {
    grid-template-rows: 7% 25% 7% 40%;
    grid-template-areas: "Nombre" "Datos" "Fecha" "DatosQR";
    margin: 0;
    padding: 0;
    row-gap: 5%;
    height: max-content;
  }

  .Fecha{
    margin-top: 5%;
  }

  .DatosQR{
    margin-top: 2%;
  }
}
