<app-navbar></app-navbar>

<body>

  <div class="container">
      <div class="Nombre">
        <h1> {{alumno?.nombre}}  </h1>
      </div>

      <div class="Datos">
        <img src={{alumno?.url_imagen}} alt="" >
        <section>
          <h3> {{alumno?.matricula}} </h3>
          <h3> {{alumno?.licenciatura}} </h3>
          <h3> {{alumno?.campus}} </h3>
        </section>
      </div>

      <div class="Fecha">
        <h6>{{ vigencia }}</h6>
      </div>

      <div class="DatosQR">
        <qrcode [qrdata]="datosQR" [width]='tam' [margin]="2" [errorCorrectionLevel]="'M'" ></qrcode>
      </div>
    </div>

</body>
