<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <img src="../../../assets/img/escudo1.png" alt="" style="width: 5%;">
    <a class="navbar-brand" href="#">Universidad Veracruzana</a>

    <button  class="btn btn-outline-custom"  (click)="logOut()" type="button">
      <i class="fa-solid fa-right-from-bracket" ></i>
      <span>Cerrar Sesión</span>
    </button>
  </div>
</nav>
